# Karimi Proposal

In [2]:
#DO NOT CHANGE THIS CODE
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pmtools2 as pm
import kmodes
%matplotlib inline

In [10]:
# LOAD DATA
#DO NOT CHANGE THIS CODE
df_emp_access = pd.read_csv('train.csv')
attnames_list = list(df_emp_access.columns)
print(attnames_list)
#A_III Statistics

#DO NOT CHANGE THIS CODE
entries = df_emp_access.values.tolist()
attidx_to_collcounter = pm.get_entries_freqs(entries)

print('#Entries:', len(entries))
print('#Users:', len(df_emp_access[attnames_list[2:]].drop_duplicates()))
print('#Resources:', len(df_emp_access.RESOURCE.drop_duplicates()))
print()

print('---Attributes---')
for att_idx in range(len(attnames_list)):
    print('Num values', attnames_list[att_idx], ':', len(attidx_to_collcounter[att_idx].keys()))
num_resources = attnames_list[1]
    
print()
df_pos_entries = df_emp_access[df_emp_access['ACTION']==1]
df_neg_entries = df_emp_access[df_emp_access['ACTION']==0]
print('Num positive entries:',len(df_pos_entries))
print('Num negative entries:',len(df_neg_entries))

df_emp_access

['ACTION', 'RESOURCE', 'MGR_ID', 'ROLE_ROLLUP_1', 'ROLE_ROLLUP_2', 'ROLE_DEPTNAME', 'ROLE_TITLE', 'ROLE_FAMILY_DESC', 'ROLE_FAMILY', 'ROLE_CODE']
#Entries: 32769
#Users: 9561
#Resources: 7518

---Attributes---
Num values ACTION : 2
Num values RESOURCE : 7518
Num values MGR_ID : 4243
Num values ROLE_ROLLUP_1 : 128
Num values ROLE_ROLLUP_2 : 177
Num values ROLE_DEPTNAME : 449
Num values ROLE_TITLE : 343
Num values ROLE_FAMILY_DESC : 2358
Num values ROLE_FAMILY : 67
Num values ROLE_CODE : 343

Num positive entries: 30872
Num negative entries: 1897

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325
...,...,...,...,...,...,...,...,...,...,...
32764,1,23497,16971,117961,118300,119993,118321,240983,290919,118322
32765,1,25139,311198,91261,118026,122392,121143,173805,249618,121145
32766,1,34924,28805,117961,118327,120299,124922,152038,118612,124924
32767,1,80574,55643,118256,118257,117945,280788,280788,292795,119082
32768,1,14354,59575,117916,118150,117920,118568,122142,19721,118570

## Data pre-processing
1. Continouos to Categorical Values
2. Handle missing values - New value

In [32]:
# df_data = df_pos_entries[attnames_list[2:]].drop_duplicates()
print('Drop duplicates:', len(df_data))

# pos_entries = df_data.values.tolist()
pos_entries = df_pos_entries.values.tolist()
neg_entries = df_neg_entries.values.tolist()

Drop duplicates: 9298

## Selection of Learning Algorithm
1. K-modes algorithm

In [33]:
###Select the number of clusters###
num_clusters = 15

#DO NOT CHANGE THIS CODE
# seed = 29

#Compute centroids and labels
# num_init = 5
centroids = []
kmodes_huang = kmodes.KModes(n_clusters=num_clusters, init='Huang', verbose=0)
cluster_labels = kmodes_huang.fit_predict(pos_entries)
centroids = kmodes_huang.cluster_centroids_

print('Ready!')

Ready!

In [23]:
centroids

array([[ 87910,  91261, 118026, 117920, 118568, 281735,  19721, 118570],
       [  2014, 117961, 118343, 119598, 118054, 279443, 117887, 118055],
       [ 28253, 118315, 118463, 118522, 117905, 117906, 290919, 117908],
       [  6217, 117961, 118327, 118507, 118890, 269406, 118398, 118892],
       [   770, 117961, 118300, 119181, 118321, 117906, 290919, 118322],
       [  5730, 117961, 118446,  16232, 117905, 240983, 290919, 117908],
       [ 16850, 117961, 118225, 118403, 119093, 120324, 119095, 119096],
       [  4589, 117961, 118327, 118320, 117905, 117906, 290919, 117908],
       [ 70168, 117961, 118052, 120356, 307024, 311622, 118331, 118332],
       [ 13881, 118602, 118603, 117941, 117885, 117913, 117887, 117888],
       [ 31857, 118079, 118080, 117878, 117879, 117886,  19721, 117880],
       [ 90027, 117916, 118150, 117884, 117885, 117913, 117887, 117888],
       [125466, 117902, 117903, 117945, 117946, 280788, 292795, 117948],
       [  6751, 117961, 117969,   6725, 120647, 311441, 118398, 120649],
       [  2942, 117961, 118343, 118514, 117905, 117906, 290919, 117908]])

## Parameter tuning
1. Number of clusters (Silhouette Method)
2. Cluster initialization

## Policy Rules Extraction

In [ ]:
def freq(value, attribute, dataplace):
    """
    Calculate the frequency of the value in the dataplace.

    Parameters
    ----------
    value : int
        Value to compute its frequency.

    attribute : string
        Name of the attribute.

    dataplace : DataFrame pandas
        Data to search.
    
    Returns
    -------
    float [0-1]
        Returns the value of frequency of the value in the data.
    """
    value_freq = dataplace[dataplace[attribute] == value].drop_duplicates()
    return len(value_freq) / len(dataplace)

def extract_attributes_filters(C_i, A, V, L, PosThr, NegThr):
    """
    Effective attribute extraction algorithm. Generate a rule for each cluster.

    Parameters
    ----------
    C_i : DataFrame pandas
        Access request in the Cluster i.

    A : List
        List of attributes.

    V : List
        Values of attributes.

    L : DataFrame
        Complete Access Log.

    PosThr : float
        Positive Threshold to the effective positive attribute.

    NegThr : float
        Negative Threshold to the effective negative attribute.

    Returns
    -------
    list
        Returns the rule with the effective attributes for the cluster i.
    """
    filter_to_ret = []
    for a in A:
        for v in V:
            if freq(v, a, C_i) - freq(v, a, L) > PosThr:
                filter_to_ret.append([a, v])
            if freq(v, a, L) - freq(v, a, C_i) > NegThr:
                filter_to_ret.append([a, v*-1])
    return filter_to_ret

In [36]:
###Select the threshold###
threshold = 0.25

#DO NOT CHANGE THIS CODE
policy = pm.create_policy(pos_entries, cluster_labels, centroids, num_clusters, threshold)

print('WSC:', pm.compute_wsc(policy))
false_negs,_,precision,recall,fscore = pm.evaluate_policy(policy, pos_entries, neg_entries)
print('Precision:',precision)
print('Recall:',recall)
print('F-score:',fscore)

WSC: 62
Precision: 0.9370428108885958
Recall: 0.25310961388960873
F-score: 0.39856162811455975

## Policy Enhancement
1. Rule Pruning
2. Policy Refinement